.signInButton {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 3rem;
  padding: 0 1.5rem;
  border-radius: 3rem;
  border-style: none;
  background-color: var(--gray-850);

  color: var(--white);
  font-weight: 700;

  svg:first-child {
    width: 20px;
    height: 20px;
    margin-right: 1rem;
  }

  svg.closeIcon {
    width: 20px;
    height: 20px;
    margin-left: 1rem;
  }

  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.8);
  }
}
