.headerContainer {
  border-bottom: 1px solid var(--gray-800);
}

.headerContent {
  display: flex;
  align-items: center;

  margin: 0 auto;
  width: 80%;
  height: 5rem;
  max-width: 1120px;

  nav {
    margin-left: 5rem;

    ul {
      display: flex;

      list-style-type: none;

      li {
        & + li {
          margin-left: 1rem;
        }
        a {
          position: relative;
          display: inline-block;
          height: 5rem;
          padding: 0 0.5rem;

          color: var(--gray-300);
          line-height: 5rem;

          transition: color 0.2s;

          &:hover {
            color: var(--white);
          }

          &.active {
            color: var(--white);
            font-weight: 700;
          }

          &.active::after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;

            height: 3px;
            border-radius: 3px 3px 0 0;
            width: 100%;
            background-color: var(--yellow-500);
          }
        }
      }
    }
  }
}
